.header
  .header-inner
    .header-left
      %p.header-left__title 
        Kagawa
    .header-right
      %a.header-right__udon{href:"#"}
        udon
      
      %a.header-right__soba{href:"#"}
        soba

.kagawa
  .kagawa-inner 
    .kagawa-left
      .kagawa-area
        -# .kagawa-area__box
        -# .kagawa-area__box
        -# .kagawa-area__box
        -# .kagawa-area__box
    .kagawa-right


.footer
  .footer-inner
    %p.footer__title
      Ask Me
    =form_with html: {class: "form"}do |f|
      -# = f.text_field :body,class:"form__name",placeholder: 'name'
      -# = f.text_field :body,class:"form__email" ,placeholder: 'email'
      -# = f.text_area :body,class:"form__question",placeholder: 'question'
      -# = f.submit "submit", class: "form__submit"
    


      